<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto; ;
}

td {

  border: 1px solid #000000;
  text-align: center;
  padding: 5px;
}


th {

  border: 3px solid #000000;
  text-align: center;
  padding: 5px;
}


tr:nth-child(even) {
  background-color: #ffffff;
}



input[type=number], select {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;

}

output[type=number], select {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;

}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top:5%;
  margin-bottom:10%;
  margin-left:45%;
  margin-right:40%;
}

.button4 {border-radius: 12px;}



</style>
</head>
<body>

<h1 style="text-align:center"> CO PO ATTAINMENT:<%= courseCode %><font color="grey"></h1>
<hr color="#76B852">
<br><br><br> 

<table>
  <tr >
    <th >CO</th>
    <th>CIE</th>
    <th>ESE</th>
    <th>Attainment</th>
  </tr>
  <tr>
    <td>&nbsp&nbsp CO1  </td>
    <td class="style1"><input type="number" name="CO" align="middle" /></td>
    <td class="style1"><input type="number" name="CO" align="middle"/></td>
    <td class="style1">
    	<input type="number" name="CO" align="middle"/></td>
  </tr>
  <tr>
    <td> &nbsp&nbsp CO2  </td>
    <td class="style1"><input type="number" name="CO" /></td>
    <td class="style1"><input type="number" name="CO" /></td><td class="style1">
    	<input type="number" name="CO" /></td>
  </tr>
  <tr>
    <td> &nbsp&nbsp CO3  </td>
    <td class="style1"><input type="number" name="CO" /></td>
    <td class="style1"><input type="number" name="CO" /></td><td class="style1">
    	<input type="number" name="CO" /></td>
  </tr>
  <tr>
    
    <td> &nbsp&nbsp CO4  </td>
    <td class="style1"><input type="number" name="CO" /></td>
    <td class="style1"><input type="number" name="CO" /></td><td class="style1">
    	<input type="number" name="CO" /></td>
  </tr>
  <tr>
    <td> &nbsp&nbsp CO5  </td>
    <td class="style1"><input type="number" name="CO" /></td>
    <td class="style1"><input type="number" name="CO" /></td><td class="style1">
    	<input type="number" name="CO" /></td>
  </tr>
  <tr>
    <td> &nbsp&nbsp CO6  </td>
    <td class="style1"><input type="number" name="CO" /></td>
    <td class="style1"><input type="number" name="CO" /></td><td class="style1">
    	<input type="number" name="CO" /></td>
  </tr>
</table>


<br><br>
<br><br>
<br><br>

<table>
  <tr>
    <th>PO</th>
    <th>PO1</th>
    <th>PO2</th>
    <th>PO3</th>
    <th>PO4</th>
    <th>PO5</th>
    <th>PO6</th>
    <th>PO7</th>
    <th>PO8</th>
    <th>PO9</th>
    <th>PO10</th>
    <th>PO11</th>
    <th>PO12</th>
  </tr>
  <tr>
    <td>&nbsp &nbsp   CO1 &nbsp &nbsp &nbsp &nbsp</td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_1 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_2 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_3 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_4 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_5 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_6 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_7 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_8 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_9 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_10 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[0].po_11%></td>
    <td class="style1">
      <input type="number" name="CO" /><%= coPo[0].po_12 %></td>
  </tr>
  <tr>
    <td> &nbsp &nbsp   CO2 &nbsp &nbsp &nbsp &nbsp</td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_1 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_2 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_3 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_4 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_5 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_6%></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_7 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_8 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_9 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_10 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[1].po_11 %></td>
    <td class="style1">
    <input type="number" name="CO" /><%= coPo[1].po_12 %></td>
  </tr>
  <tr>
    <td> &nbsp &nbsp   CO3 &nbsp &nbsp &nbsp &nbsp</td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_1 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_2 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_3 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_4 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_5 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_6 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_7 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_8 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_9 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_10 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[2].po_11 %></td>
    <td class="style1">
      <input type="number" name="CO" /><%= coPo[2].po_12 %></td>
  </tr>
  <tr>
    
    <td> &nbsp &nbsp   CO4 &nbsp &nbsp &nbsp &nbsp</td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_1 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_2 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_3 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_4 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_5 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_6 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_7 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_8 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_9 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_10 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[3].po_11 %></td>
    <td class="style1">
      <input type="number" name="CO" /><%= coPo[3].po_12 %></td>
  </tr>
  <tr>
    <td> &nbsp &nbsp   CO5 &nbsp &nbsp &nbsp &nbsp</td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_1 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_2 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_3 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_4 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_5 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_6 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_7 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_8 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_9 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_10 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[4].po_11 %></td>
    <td class="style1">
      <input type="number" name="CO" /><%= coPo[4].po_12 %></td>
  </tr>
  <tr>
    <td> &nbsp &nbsp   CO6 &nbsp &nbsp &nbsp &nbsp</td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_1 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_2 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_3 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_4 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_5 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_6 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_7 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_8 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_9 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_10 %></td>
    <td class="style1"><input type="number" name="CO" /><%= coPo[5].po_11 %></td>
    <td class="style1">
      <input type="number" name="CO" /><%= coPo[5].po_12 %></td>
  </tr>
</table>


<br><br><br><br><br>




<table>
  <tr>
    <th>PO</th>
    <th>PO1</th>
    <th>PO2</th>
    <th>PO3</th>
    <th>PO4</th>
    <th>PO5</th>
    <th>PO6</th>
    <th>PO7</th>
    <th>PO8</th>
    <th>PO9</th>
    <th>PO10</th>
    <th>PO11</th>
    <th>PO12</th>
  </tr>
  <tr>
    <td>&nbsp &nbsp   Attainment &nbsp &nbsp &nbsp &nbsp</td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[0] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[1] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[2] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[3] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[4] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[5] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[6] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[7] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[8] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[9] %></td>
    <td class="style1"><output type="number" name="CO" ><%= poTot[10] %></td>
    <td class="style1">
      <output type="number" name="CO" ><%= poTot[11] %><td>
  </tr>
  
</table>


<br><br><br><br>



<table>
  <tr>
    <th>PSO</th>
    <th>PSO1</th>
    <th>PSO2</th>
    <th>PSO3</th>
  </tr>
  <tr>
    <td>&nbsp&nbsp Attainment  </td>
    <td class="style1"><output type="number" name="CO" /></td>
    <td class="style1"><output type="number" name="CO" /></td>
    <td class="style1">
      <out put type="number" name="CO" /></td>
  </tr>

</table>

<br><br><br>

<button class="button button4"  >Download&nbspPDF</button>

</body>
</html>

</html>