<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/view.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Viewresult</title>
</head>
<body>
        <p class="heading">VIEW RESULT</p>
        <hr class="hline">
        <div class="det">
            <p>COURSE CODE:<br>YEAR:</p>
         </div>
         <table>
             <tr>
                 <th>Adm no</th>
                 <th>CO1</th>
                 <th>CO2</th>
                 <th>CO3</th>
                 <th>CO4</th>
                 <th>CO5</th>
                 <th>CO6</th>
             </tr>
             <%for(var i=0; i<internalList.length ;i++) { %>
             <!-- <tr>
                    <td class="style1"><output type="number" name="CO" /></td>
                    <td class="style1"><output type="number" name="CO" /></td>
                    <td class="style1"><output type="number" name="CO" /></td>
                    <td class="style1"><output type="number" name="CO" /></td>
                    <td class="style1"><output type="number" name="CO" /></td>
                    <td class="style1"><output type="number" name="CO" /></td>
                    <td class="style1"><output type="number" name="CO" /></td>
             </tr> -->
             <tr>
                    <td class="style1"><output type="number" name="CO"><%= internalList[i].adm_no %></td>
                    <td class="style1"><output type="number" name="CO"><%= internalList[i].co_1 %> / <%= internalList[i].co_1_total %></td>
                    <td class="style1"><output type="number" name="CO"><%= internalList[i].co_2 %> / <%= internalList[i].co_2_total %></td>
                    <td class="style1"><output type="number" name="CO"><%= internalList[i].co_3 %> / <%= internalList[i].co_3_total %></td>
                    <td class="style1"><output type="number" name="CO"><%= internalList[i].co_4 %> / <%= internalList[i].co_4_total %></td>
                    <td class="style1"><output type="number" name="CO"><%= internalList[i].co_5 %> / <%= internalList[i].co_5_total %></td>
                    <td class="style1"><output type="number" name="CO"><%= internalList[i].co_6 %> / <%= internalList[i].co_6_total %></td>
                  </tr>
             <% } %>
         </table>
</body>
</html>